
.form__mail-input {
  border: none;
  border-radius: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 370px;
  outline: none;
}

.form__mail-input::placeholder {
  font-family: "Public Sans";
  @include font-styles(700, 15px, 17px);
  color: rgba(54, 83, 107, 1);
  opacity: 50%;
  padding-left: 27px;
}

.form__button {
  margin-left: -100px;
}