.footer {
  background-color: rgba(27, 38, 47, 1);
  background-image: url('../../img/bg-pattern-circle-intro.png');
  background-repeat: no-repeat;
  background-position: calc(50% + 700px) -125px; 
}

.footer__content {
  max-width: 1110px;
  display: flex;
  align-items: center;
  padding-top: 31px;
  padding-bottom: 31px;
}

.footer__logo-link {
  display: inline-block;
}

.footer__logo {
  display: block;
  transition: ease 0.3s;
}

.footer__logo:hover {
  transform: scale(1.2);
}

.footer__list {
  list-style-type: none;
  padding: 0;
  width: 232px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 64px;
  margin-right: 560px;
}

.footer__item-link {
  text-decoration: none;
  font-family: "Public Sans";
  font-weight: 700;
  font-size: 15px;
  line-height: 17.63px;
  color: rgba(251, 252, 254, 1);
  opacity: 70%
}

.footer__item-link:hover {
  opacity: 85%
}

.footer__item-link:active {
  opacity: 100%
}

.footer__social-box {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__social-links {
  text-decoration: none;
}

.footer__icon path {
  width: 24px;
  height: 24px;
  transition: ease 0.3s;
}

.footer__icon:hover path {
  fill: rgba(218, 109, 151, 1);
}

.footer__icon:active path {
  fill: red;
  opacity: 90%;
}

@include breakpoint-down(1070px) {
  .footer {
    background-position: calc(50% + 500px) -125px; 
  }

  .footer__content {
    max-width: 800px;
    display: flex;
    align-items: center;
    padding-top: 31px;
    padding-bottom: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__list {
    list-style-type: none;
    padding: 0;
    width: 232px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 64px;
    margin-right: 160px;
  }
}

@include breakpoint-down(768px) {
  .footer {
    background-position: calc(50% + 380px) -125px; 
  }

  .footer__content {
    max-width: 689px;
    display: flex;
    align-items: center;
    padding-top: 31px;
    padding-bottom: 31px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__list {
    list-style-type: none;
    padding: 0;
    width: 232px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 64px;
    margin-right: 135px;
  }
}

@include breakpoint-down(660px) {
  .footer {
    background-position: calc(50% + 0px) 165px; 
  }

  .footer__content {
    max-width: 300px;
    display: flex;
    align-items: center;
    padding-top: 31px;
    padding-bottom: 31px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  }

  .footer__logo-link {
    margin-left: auto;
    margin-right: auto;
  }

  .footer__list {
    list-style-type: none;
    padding: 0;
    width: 232px;
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
  }
}