.header {
  background-color: #EDF3F8;
  background-image: url('../../img/bg-pattern-circle.png');
  background-repeat: no-repeat;
  background-size: 780px;
  background-position: calc(50% + 450px) -200px;
}

.header__intro {
  max-width: 1110px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
}

.header__logo-link {
  display: inline-block;
}

.header__logo {
  display: block;
  transition: ease 0.3s;
}

.header__logo:hover {
  transform: scale(1.2);
}

.header__navigation-list {
  @include list-unstyled;
  @include flex-starter;
  width: 232px;
  margin-left: 64px;
  margin-right: 506px;
}

.header__list-item-link {
  text-decoration: none;
  font-family: "Public Sans";
  font-weight: 700;
  font-size: 15px;
  line-height: 17.63px;
  color: rgba(54, 83, 107, 1);
  opacity: 70%
}

.header__list-item-link:hover {
  opacity: 85%;
  cursor: pointer;
}

.header__list-item-link:active {
  opacity: 100%;
  cursor: pointer;
}

.header__hamburger-button {
  display: none;
}

@include breakpoint-down(1500px) {
  .header__navigation-list {
    @include list-unstyled;
    @include flex-starter;
    width: 232px;
    margin-left: 164px;
    margin-right: 406px;
  }
}

@include breakpoint-down(1140px) {
  .header__intro {
    max-width: 900px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .header__navigation-list {
    @include list-unstyled;
    @include flex-starter;
    width: 232px;
    margin-left: 175px;
    margin-right: 185px;
  }
}

@include breakpoint-down(940px) {
  .header__intro {
    max-width: 768px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .header__navigation-list {
    @include list-unstyled;
    @include flex-starter;
    width: 232px;
    margin-left: 55px;
    margin-right: 135px;
  }
}

@include breakpoint-down(800px) {
  .header {
    background-color: #EDF3F8;
    background-image: url('../../img/bg-pattern-circle.png');
    background-repeat: no-repeat;
    background-size: 900px;
    background-position: calc(50% - 0px) -640px;
  }
}

@include breakpoint-down(759px) {
  .header__intro {
    max-width: 620px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .header__navigation-list {
    @include list-unstyled;
    @include flex-starter;
    width: 232px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

@include breakpoint-down(650px) {
  .header__intro {
    max-width: 500px;
    padding-top: 30px;
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  .header__navigation-list {
    @include list-unstyled;
    @include flex-starter;
    width: 232px;
    margin-left: 64px;
    margin-right: 85px;
    display: none;
  }

  .header__button {
    display: none;
  }

  .header__hamburger-button {
    display: block;
    border: none;
    background-color: #D2DBE3;
  }
}

@include breakpoint-down(540px) {
  .header__intro {
    max-width: 400px;
    padding-top: 30px;
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
}